@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --swiper-theme-color: #19888d;
}

.p-0 {
  padding: 0px 0px !important;
}

h1 {
  text-align: center;
}

.App {
  font-family: "Roboto", sans-serif;
  padding-top: 150px;
  min-height: 100vh;
}

a:hover {
  text-decoration: none;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

.swiper-container-products {
  padding: 1rem;
  margin: 2rem;
}

.swiper-container-products .swiper-wrapper {
  padding: 2rem;
}

.swiper-container-products .swiper-wrapper .swiper-slide {
  margin: auto;
}

.swiper-container-products .swiper-wrapper .swiper-slide .product {
  width: 250px;
}

.swiper-container-products .swiper-wrapper .swiper-slide .product:hover {
  -webkit-box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
}

.product {
  text-align: center;
  padding: 1rem;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-image {
  padding: 1rem;
  display: block;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-name {
  text-align: center;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.product:hover {
  -webkit-box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #19888d;
  border: none;
  border-radius: 50%;
}

.search-btn {
  background: transparent;
  border: 3px solid white;
  outline: none;
  padding: 0.3rem 1rem;
  color: white;
  font-weight: bold;
}

.product-details {
  margin-bottom: 2rem;
}

.product-details-heading {
  text-align: center;
}

.product-details .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-details .box .image {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.product-details .box .description {
  padding: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-details .box .rating-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-details .box .rating-box .title {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.product-details .box .rating-box .rating {
  font-size: 2.5rem;
}

.product-details .box .buy-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.product-details .box .buy-panel .price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
  font-weight: bold;
}

.product-details .box .buy-panel .stock {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-details .box .buy-panel .stock .red {
  color: red;
}

.product-details .box .buy-panel .stock .green {
  color: green;
}

.product-details .box .buy-panel .stock .orange {
  color: orangered;
}

.product-details .box .buy-panel .add-to-cart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-details .box .qty {
  width: 190px;
  margin: 0 auto;
  border: 1px solid grey;
}

.product-details .box .qty-window {
  width: 5rem;
  font-size: 1.5rem;
  border: 2px solid grey;
  text-align: center;
}

.product-details .box .qty .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.register,
.login,
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  background-color: #43464b;
  border-radius: 10px;
  margin: 0 auto 50px auto;
  padding: 1rem;
  max-width: 500px;
}

.register-item,
.login-item,
.profile-item {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.register-item-heading,
.login-item-heading,
.profile-item-heading {
  color: white;
  padding-top: 2rem;
}

.register-item-box .form,
.login-item-box .form,
.profile-item-box .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  max-width: 400px;
}

.register-item-box .form-group,
.login-item-box .form-group,
.profile-item-box .form-group {
  position: relative;
  overflow: hidden;
  height: 65px;
}

.register-item-box .form-group-label,
.login-item-box .form-group-label,
.profile-item-box .form-group-label {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
}

.register-item-box .form-group-label .content,
.login-item-box .form-group-label .content,
.profile-item-box .form-group-label .content {
  position: absolute;
  left: 0;
  bottom: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.register-item-box .form-group-label:after,
.login-item-box .form-group-label:after,
.profile-item-box .form-group-label:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #19888d;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.register-item-box .form-group-input,
.login-item-box .form-group-input,
.profile-item-box .form-group-input {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #43464b;
  border: none;
  outline: none;
  padding: 1rem 0.5rem 0 0.5rem;
}

.register-item-box .form-group-input:focus + .form-group-label .content,
.register-item-box .form-group-input:valid + .form-group-label .content,
.login-item-box .form-group-input:focus + .form-group-label .content,
.login-item-box .form-group-input:valid + .form-group-label .content,
.profile-item-box .form-group-input:focus + .form-group-label .content,
.profile-item-box .form-group-input:valid + .form-group-label .content {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #19888d;
}

.register-item-box .form-group-input:focus + .form-group-label:after,
.register-item-box .form-group-input:valid + .form-group-label:after,
.login-item-box .form-group-input:focus + .form-group-label:after,
.login-item-box .form-group-input:valid + .form-group-label:after,
.profile-item-box .form-group-input:focus + .form-group-label:after,
.profile-item-box .form-group-input:valid + .form-group-label:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.register-item-box .form .btn-eye,
.login-item-box .form .btn-eye,
.profile-item-box .form .btn-eye {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  outline: none;
  padding: 0.5rem;
  color: white;
  background-color: #43464b;
}

.register-item-box .form .btn-submit,
.login-item-box .form .btn-submit,
.profile-item-box .form .btn-submit {
  background-color: #19888d;
  color: white;
  border-radius: 5px;
  display: block;
  margin-bottom: 2rem;
}

.register-item-box .form .btn-submit:hover,
.login-item-box .form .btn-submit:hover,
.profile-item-box .form .btn-submit:hover {
  background-color: #21b2b8;
}

.register-item-box .switch,
.login-item-box .switch,
.profile-item-box .switch {
  padding: 1rem;
}

.cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.social {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.social:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.right-list {
  width: 33vw;
  height: auto;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description .heading {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.cart .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.cart .headings .head {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.cart .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem 0;
  border-bottom: 1px solid gray;
}

.cart .cart-item .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart .cart-item .details .detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.cart .cart-item .details .detail .photo {
  margin: 1rem auto;
  width: 50px;
}

.cart .cart-item .details .detail .photo-image {
  max-width: 100%;
}

.cart .cart-item .details .detail .icon {
  cursor: pointer;
}

.cart .checkout {
  float: right;
}

.cart .checkout-btn {
  padding: 1rem;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: #19888d;
  text-transform: uppercase;
  font-weight: bold;
}

.cart .checkout-btn:hover {
  background-color: black;
}

@media (max-width: 500px) {
  .product-details .box .buy-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .right-list {
    width: 300px;
  }
}
/*# sourceMappingURL=App.css.map */