@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

$mian-color: #19888d;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --swiper-theme-color: #19888d;
}
.p-0 {
  padding: 0px 0px !important;
}
h1 {
  text-align: center;
}
.App {
  font-family: "Roboto", sans-serif;
  padding-top: 150px;
  min-height: 100vh;
}
a:hover {
  text-decoration: none;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.swiper-container-products {
  padding: 1rem;
  margin: 2rem;
  .swiper-wrapper {
    padding: 2rem;
    .swiper-slide {
      margin: auto;
      .product {
        width: 250px;

        &:hover {
          -webkit-box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}
.product {
  text-align: center;
  padding: 1rem;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-image {
    padding: 1rem;
    display: block;
    margin: 0 auto;
    flex: 1;
  }
  &-name {
    text-align: center;
    flex: 0.5;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 47px -8px rgba(0, 0, 0, 0.75);
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $mian-color;
    border: none;
    border-radius: 50%;
  }
}
.search-btn {
  background: transparent;
  border: 3px solid white;
  outline: none;
  padding: 0.3rem 1rem;
  color: white;
  font-weight: bold;
}
.product-details {
  margin-bottom: 2rem;
  &-heading {
    text-align: center;
  }
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .image {
      flex: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
    .description {
      padding: 3rem;
      flex: 1;
    }
    .rating {
      &-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
          padding: 0.5rem;
          font-size: 1.2rem;
          font-weight: bold;
        }
        .rating {
          font-size: 2.5rem;
        }
      }
    }
    .buy-panel {
      display: flex;
      text-align: center;
      .price {
        flex: 1;
        font-size: 2rem;
        font-weight: bold;
      }
      .stock {
        flex: 1;
        .red {
          color: red;
        }
        .green {
          color: green;
        }
        .orange {
          color: orangered;
        }
      }
      .add-to-cart {
        flex: 1;
      }
    }
    .qty {
      width: 190px;
      margin: 0 auto;
      border: 1px solid grey;
      &-window {
        width: 5rem;
        font-size: 1.5rem;
        border: 2px solid grey;
        text-align: center;
      }
      .buttons {
        display: flex;
        margin: 0 auto;
      }
    }
  }
}
.register,
.login,
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #43464b;
  border-radius: 10px;
  margin: 0 auto 50px auto;
  padding: 1rem;
  max-width: 500px;

  &-item {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    &-heading {
      color: white;
      padding-top: 2rem;
    }
    &-box {
      .form {
        display: flex;
        flex-direction: column;
        width: 400px;
        max-width: 400px;

        &-group {
          position: relative;
          overflow: hidden;

          height: 65px;
          &-label {
            color: white;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 1px solid white;

            .content {
              position: absolute;
              left: 0;
              bottom: 5px;
              transition: all 0.3s ease;
            }
            &:after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -1px;
              height: 100%;
              width: 100%;
              border-bottom: 3px solid $mian-color;
              transform: translateX(-100%);
              transition: all 0.3s ease;
            }
          }
          &-input {
            width: 100%;
            height: 100%;
            color: white;
            background-color: #43464b;
            border: none;
            outline: none;
            padding: 1rem 0.5rem 0 0.5rem;
            &:focus + .form-group-label .content,
            &:valid + .form-group-label .content {
              transform: translateY(-150%);
              font-size: 14px;
              color: $mian-color;
            }
            &:focus + .form-group-label:after,
            &:valid + .form-group-label:after {
              transform: translateX(0);
            }
          }
        }
        .btn-eye {
          position: absolute;
          bottom: 0;
          right: 0;
          border: 1px solid white;
          outline: none;
          padding: 0.5rem;
          color: white;
          background-color: #43464b;
        }
        .btn-submit {
          background-color: $mian-color;
          color: white;
          border-radius: 5px;
          display: block;
          margin-bottom: 2rem;
          &:hover {
            background-color: lighten($mian-color, 10);
          }
        }
      }
      .switch {
        padding: 1rem;
      }
    }
  }
}
.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.social {
  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in;
  }
}
.right-list {
  width: 33vw;
  height: auto;
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  .heading {
    flex: 1;
    text-align: center;
  }
}
.cart {
  .headings {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid gray;
    .head {
      flex: 1;
      text-align: center;
    }
  }
  .cart-item {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    border-bottom: 1px solid gray;

    .details {
      display: flex;
      flex-direction: row;

      width: 100%;
      align-items: center;
      .detail {
        flex: 1;
        text-align: center;
        .photo {
          margin: 1rem auto;
          width: 50px;
          &-image {
            max-width: 100%;
          }
        }
        .icon {
          cursor: pointer;
        }
      }
    }
  }
  .checkout {
    float: right;
    &-btn {
      padding: 1rem;
      width: 100%;
      border: none;
      outline: none;
      color: white;
      background: $mian-color;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        background-color: lighten($color: $main-color, $amount: 10);
      }
    }
  }
}
@media (max-width: 500px) {
  .product-details {
    .box {
      .buy-panel {
        flex-direction: column;
      }
    }
  }
  .right-list {
    width: 300px;
  }
}
